--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_address; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_address (
    id bigint NOT NULL,
    type character varying(5) NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(254) NOT NULL,
    whatsapp character varying(15) NOT NULL,
    "houseNo" character varying(255) NOT NULL,
    state character varying(100) NOT NULL,
    city character varying(100) NOT NULL,
    village character varying(100) NOT NULL,
    "pinCode" character varying(10) NOT NULL,
    "default" boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.api_address OWNER TO postgres;

--
-- Name: api_address_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_address ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_address_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_customuser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    username character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    contact character varying(20),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.api_customuser OWNER TO postgres;

--
-- Name: api_customuser_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.api_customuser_groups OWNER TO postgres;

--
-- Name: api_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_customuser_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.api_customuser_user_permissions OWNER TO postgres;

--
-- Name: api_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_order (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    total numeric(10,2) NOT NULL,
    status character varying(20) NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.api_order OWNER TO postgres;

--
-- Name: api_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_orderitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_orderitem (
    id bigint NOT NULL,
    product_id integer NOT NULL,
    product_name character varying(255) NOT NULL,
    price numeric(10,2) NOT NULL,
    quantity integer NOT NULL,
    order_id bigint NOT NULL,
    CONSTRAINT api_orderitem_product_id_check CHECK ((product_id >= 0)),
    CONSTRAINT api_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.api_orderitem OWNER TO postgres;

--
-- Name: api_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_payment (
    id bigint NOT NULL,
    razorpay_order_id character varying(100) NOT NULL,
    razorpay_payment_id character varying(100),
    razorpay_signature character varying(100),
    amount integer NOT NULL,
    currency character varying(10) NOT NULL,
    is_paid boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT api_payment_amount_check CHECK ((amount >= 0))
);


ALTER TABLE public.api_payment OWNER TO postgres;

--
-- Name: api_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_payment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_usersettings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_usersettings (
    id bigint NOT NULL,
    dark_mode boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.api_usersettings OWNER TO postgres;

--
-- Name: api_usersettings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_usersettings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_usersettings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO postgres;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: merchant_mastercategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_mastercategory (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    business_category character varying(100) NOT NULL
);


ALTER TABLE public.merchant_mastercategory OWNER TO postgres;

--
-- Name: merchant_mastercategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.merchant_mastercategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.merchant_mastercategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: merchant_masterproduct; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_masterproduct (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    brand character varying(100),
    description text NOT NULL,
    image character varying(100),
    category_id bigint
);


ALTER TABLE public.merchant_masterproduct OWNER TO postgres;

--
-- Name: merchant_masterproduct_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.merchant_masterproduct ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.merchant_masterproduct_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: merchant_masterproductupload; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_masterproductupload (
    id bigint NOT NULL,
    excel_file character varying(100) NOT NULL,
    image_zip character varying(100) NOT NULL,
    uploaded_at timestamp with time zone NOT NULL
);


ALTER TABLE public.merchant_masterproductupload OWNER TO postgres;

--
-- Name: merchant_masterproductupload_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.merchant_masterproductupload ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.merchant_masterproductupload_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: merchant_merchant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_merchant (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    full_name character varying(255) NOT NULL,
    email character varying(254) NOT NULL,
    mobile_no character varying(20) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    is_verified boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.merchant_merchant OWNER TO postgres;

--
-- Name: merchant_merchant_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_merchant_groups (
    id bigint NOT NULL,
    merchant_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.merchant_merchant_groups OWNER TO postgres;

--
-- Name: merchant_merchant_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.merchant_merchant_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.merchant_merchant_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: merchant_merchant_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.merchant_merchant ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.merchant_merchant_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: merchant_merchant_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_merchant_user_permissions (
    id bigint NOT NULL,
    merchant_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.merchant_merchant_user_permissions OWNER TO postgres;

--
-- Name: merchant_merchant_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.merchant_merchant_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.merchant_merchant_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: merchant_merchantprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_merchantprofile (
    id bigint NOT NULL,
    business_name character varying(255) NOT NULL,
    category character varying(50) NOT NULL,
    address text NOT NULL,
    city character varying(100) NOT NULL,
    pincode character varying(20) NOT NULL,
    latitude numeric(9,6) NOT NULL,
    longitude numeric(9,6) NOT NULL,
    profile_image character varying(100),
    banner_image character varying(100),
    is_onboarded boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    merchant_id bigint NOT NULL
);


ALTER TABLE public.merchant_merchantprofile OWNER TO postgres;

--
-- Name: merchant_merchantprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.merchant_merchantprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.merchant_merchantprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: merchant_merchantsubscription; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_merchantsubscription (
    id bigint NOT NULL,
    start_date timestamp with time zone,
    end_date timestamp with time zone,
    merchant_id bigint NOT NULL,
    plan_id bigint,
    active boolean NOT NULL,
    razorpay_subscription_id character varying(100)
);


ALTER TABLE public.merchant_merchantsubscription OWNER TO postgres;

--
-- Name: merchant_merchantsubscription_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.merchant_merchantsubscription ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.merchant_merchantsubscription_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: merchant_notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_notification (
    id bigint NOT NULL,
    message text NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    product_id bigint,
    recipient_id bigint NOT NULL
);


ALTER TABLE public.merchant_notification OWNER TO postgres;

--
-- Name: merchant_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.merchant_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.merchant_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: merchant_pendingproduct; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_pendingproduct (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    stock integer NOT NULL,
    original_price numeric(10,2) NOT NULL,
    discount_price numeric(10,2),
    image character varying(100),
    is_approved boolean NOT NULL,
    admin_notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    category_id bigint,
    merchant_id bigint NOT NULL,
    CONSTRAINT merchant_pendingproduct_stock_check CHECK ((stock >= 0))
);


ALTER TABLE public.merchant_pendingproduct OWNER TO postgres;

--
-- Name: merchant_pendingproduct_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.merchant_pendingproduct ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.merchant_pendingproduct_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: merchant_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_product (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    stock integer NOT NULL,
    original_price numeric(10,2) NOT NULL,
    discount_price numeric(10,2) NOT NULL,
    image character varying(100),
    created_at timestamp with time zone NOT NULL,
    category_id bigint,
    master_product_id bigint,
    merchant_id bigint NOT NULL,
    CONSTRAINT merchant_product_stock_check CHECK ((stock >= 0))
);


ALTER TABLE public.merchant_product OWNER TO postgres;

--
-- Name: merchant_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.merchant_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.merchant_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: merchant_shop; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_shop (
    id bigint NOT NULL,
    is_open boolean NOT NULL,
    owner_id bigint NOT NULL
);


ALTER TABLE public.merchant_shop OWNER TO postgres;

--
-- Name: merchant_shop_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.merchant_shop ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.merchant_shop_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: merchant_smartaddselection; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_smartaddselection (
    id bigint NOT NULL,
    added_at timestamp with time zone NOT NULL,
    master_product_id bigint NOT NULL,
    merchant_id bigint NOT NULL
);


ALTER TABLE public.merchant_smartaddselection OWNER TO postgres;

--
-- Name: merchant_smartaddselection_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.merchant_smartaddselection ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.merchant_smartaddselection_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: merchant_subscriptionplan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_subscriptionplan (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    price numeric(6,2) NOT NULL,
    duration_days integer NOT NULL,
    features text NOT NULL,
    razorpay_plan_id character varying(100),
    CONSTRAINT merchant_subscriptionplan_duration_days_check CHECK ((duration_days >= 0))
);


ALTER TABLE public.merchant_subscriptionplan OWNER TO postgres;

--
-- Name: merchant_subscriptionplan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.merchant_subscriptionplan ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.merchant_subscriptionplan_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: api_address; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_address (id, type, username, email, whatsapp, "houseNo", state, city, village, "pinCode", "default", user_id) FROM stdin;
1	Home	suresh	kalaiyarasan66@gmail.com	9750434580	12/6	Goa	North Goa	velipuram	623504	f	2
2	Work	kalaiyarasan966@gmail.com	kalaiyarasan66@gmail.com	9750434580	12/6	Bihar	Purnia	velipuram	623504	t	2
3	Home	kalaiyarasan	kalaiyarasan66@gmail.com	9750434580	12	Goa	North Goa	karam	623504	f	1
\.


--
-- Data for Name: api_customuser; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_customuser_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: api_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Data for Name: api_order; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_order (id, created_at, updated_at, total, status, user_id) FROM stdin;
\.


--
-- Data for Name: api_orderitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_orderitem (id, product_id, product_name, price, quantity, order_id) FROM stdin;
\.


--
-- Data for Name: api_payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_payment (id, razorpay_order_id, razorpay_payment_id, razorpay_signature, amount, currency, is_paid, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: api_usersettings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_usersettings (id, dark_mode, user_id) FROM stdin;
1	f	1
2	f	2
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: merchant_mastercategory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_mastercategory (id, name, business_category) FROM stdin;
2	chicken biriyani	Food
3	egg birigani	Food
1	biriyani	Food
\.


--
-- Data for Name: merchant_masterproduct; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_masterproduct (id, name, brand, description, image, category_id) FROM stdin;
1	chicken biriyani	food		master_product_images/1972917.jpg	2
\.


--
-- Data for Name: merchant_masterproductupload; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_masterproductupload (id, excel_file, image_zip, uploaded_at) FROM stdin;
\.


--
-- Data for Name: merchant_merchant; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: merchant_merchant_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_merchant_groups (id, merchant_id, group_id) FROM stdin;
\.


--
-- Data for Name: merchant_merchant_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_merchant_user_permissions (id, merchant_id, permission_id) FROM stdin;
\.


--
-- Data for Name: merchant_merchantprofile; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: merchant_merchantsubscription; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_merchantsubscription (id, start_date, end_date, merchant_id, plan_id, active, razorpay_subscription_id) FROM stdin;
\.


--
-- Data for Name: merchant_notification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: merchant_pendingproduct; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_pendingproduct (id, name, description, stock, original_price, discount_price, image, is_approved, admin_notes, created_at, updated_at, category_id, merchant_id) FROM stdin;
\.


--
-- Data for Name: merchant_product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: merchant_shop; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_shop (id, is_open, owner_id) FROM stdin;
1	t	2
2	t	4
\.


--
-- Data for Name: merchant_smartaddselection; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_smartaddselection (id, added_at, master_product_id, merchant_id) FROM stdin;
1	2025-08-04 00:22:01.747872+05:30	1	4
\.


--
-- Data for Name: merchant_subscriptionplan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_subscriptionplan (id, name, price, duration_days, features, razorpay_plan_id) FROM stdin;
\.


--
-- Name: api_address_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_address_id_seq', 3, true);


--
-- Name: api_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_customuser_groups_id_seq', 1, false);


--
-- Name: api_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_customuser_id_seq', 2, true);


--
-- Name: api_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_customuser_user_permissions_id_seq', 1, false);


--
-- Name: api_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_order_id_seq', 1, false);


--
-- Name: api_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_orderitem_id_seq', 1, false);


--
-- Name: api_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_payment_id_seq', 1, false);


--
-- Name: api_usersettings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_usersettings_id_seq', 2, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 100, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 19, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 25, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 39, true);


--
-- Name: merchant_mastercategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_mastercategory_id_seq', 3, true);


--
-- Name: merchant_masterproduct_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_masterproduct_id_seq', 1, true);


--
-- Name: merchant_masterproductupload_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_masterproductupload_id_seq', 1, false);


--
-- Name: merchant_merchant_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_merchant_groups_id_seq', 1, false);


--
-- Name: merchant_merchant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_merchant_id_seq', 5, true);


--
-- Name: merchant_merchant_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_merchant_user_permissions_id_seq', 1, false);


--
-- Name: merchant_merchantprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_merchantprofile_id_seq', 4, true);


--
-- Name: merchant_merchantsubscription_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_merchantsubscription_id_seq', 1, false);


--
-- Name: merchant_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_notification_id_seq', 5, true);


--
-- Name: merchant_pendingproduct_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_pendingproduct_id_seq', 5, true);


--
-- Name: merchant_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_product_id_seq', 6, true);


--
-- Name: merchant_shop_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_shop_id_seq', 2, true);


--
-- Name: merchant_smartaddselection_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_smartaddselection_id_seq', 1, true);


--
-- Name: merchant_subscriptionplan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_subscriptionplan_id_seq', 1, false);


--
-- Name: api_address api_address_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_address
    ADD CONSTRAINT api_address_pkey PRIMARY KEY (id);


--
-- Name: api_customuser api_customuser_contact_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_customuser
    ADD CONSTRAINT api_customuser_contact_key UNIQUE (contact);


--
-- Name: api_customuser api_customuser_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_customuser
    ADD CONSTRAINT api_customuser_email_key UNIQUE (email);


--
-- Name: api_customuser_groups api_customuser_groups_customuser_id_group_id_d5b0c2ab_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_customuser_groups
    ADD CONSTRAINT api_customuser_groups_customuser_id_group_id_d5b0c2ab_uniq UNIQUE (customuser_id, group_id);


--
-- Name: api_customuser_groups api_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_customuser_groups
    ADD CONSTRAINT api_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: api_customuser api_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_customuser
    ADD CONSTRAINT api_customuser_pkey PRIMARY KEY (id);


--
-- Name: api_customuser_user_permissions api_customuser_user_perm_customuser_id_permission_9deacd8d_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_customuser_user_permissions
    ADD CONSTRAINT api_customuser_user_perm_customuser_id_permission_9deacd8d_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: api_customuser_user_permissions api_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_customuser_user_permissions
    ADD CONSTRAINT api_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: api_customuser api_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_customuser
    ADD CONSTRAINT api_customuser_username_key UNIQUE (username);


--
-- Name: api_order api_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_order
    ADD CONSTRAINT api_order_pkey PRIMARY KEY (id);


--
-- Name: api_orderitem api_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_orderitem
    ADD CONSTRAINT api_orderitem_pkey PRIMARY KEY (id);


--
-- Name: api_payment api_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_payment
    ADD CONSTRAINT api_payment_pkey PRIMARY KEY (id);


--
-- Name: api_usersettings api_usersettings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_usersettings
    ADD CONSTRAINT api_usersettings_pkey PRIMARY KEY (id);


--
-- Name: api_usersettings api_usersettings_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_usersettings
    ADD CONSTRAINT api_usersettings_user_id_key UNIQUE (user_id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: merchant_mastercategory merchant_mastercategory_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_mastercategory
    ADD CONSTRAINT merchant_mastercategory_name_key UNIQUE (name);


--
-- Name: merchant_mastercategory merchant_mastercategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_mastercategory
    ADD CONSTRAINT merchant_mastercategory_pkey PRIMARY KEY (id);


--
-- Name: merchant_masterproduct merchant_masterproduct_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_masterproduct
    ADD CONSTRAINT merchant_masterproduct_pkey PRIMARY KEY (id);


--
-- Name: merchant_masterproductupload merchant_masterproductupload_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_masterproductupload
    ADD CONSTRAINT merchant_masterproductupload_pkey PRIMARY KEY (id);


--
-- Name: merchant_merchant merchant_merchant_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchant
    ADD CONSTRAINT merchant_merchant_email_key UNIQUE (email);


--
-- Name: merchant_merchant_groups merchant_merchant_groups_merchant_id_group_id_0ad72951_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchant_groups
    ADD CONSTRAINT merchant_merchant_groups_merchant_id_group_id_0ad72951_uniq UNIQUE (merchant_id, group_id);


--
-- Name: merchant_merchant_groups merchant_merchant_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchant_groups
    ADD CONSTRAINT merchant_merchant_groups_pkey PRIMARY KEY (id);


--
-- Name: merchant_merchant merchant_merchant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchant
    ADD CONSTRAINT merchant_merchant_pkey PRIMARY KEY (id);


--
-- Name: merchant_merchant_user_permissions merchant_merchant_user_p_merchant_id_permission_i_74b58b3e_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchant_user_permissions
    ADD CONSTRAINT merchant_merchant_user_p_merchant_id_permission_i_74b58b3e_uniq UNIQUE (merchant_id, permission_id);


--
-- Name: merchant_merchant_user_permissions merchant_merchant_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchant_user_permissions
    ADD CONSTRAINT merchant_merchant_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: merchant_merchantprofile merchant_merchantprofile_merchant_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchantprofile
    ADD CONSTRAINT merchant_merchantprofile_merchant_id_key UNIQUE (merchant_id);


--
-- Name: merchant_merchantprofile merchant_merchantprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchantprofile
    ADD CONSTRAINT merchant_merchantprofile_pkey PRIMARY KEY (id);


--
-- Name: merchant_merchantsubscription merchant_merchantsubscription_merchant_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchantsubscription
    ADD CONSTRAINT merchant_merchantsubscription_merchant_id_key UNIQUE (merchant_id);


--
-- Name: merchant_merchantsubscription merchant_merchantsubscription_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchantsubscription
    ADD CONSTRAINT merchant_merchantsubscription_pkey PRIMARY KEY (id);


--
-- Name: merchant_notification merchant_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_notification
    ADD CONSTRAINT merchant_notification_pkey PRIMARY KEY (id);


--
-- Name: merchant_pendingproduct merchant_pendingproduct_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_pendingproduct
    ADD CONSTRAINT merchant_pendingproduct_pkey PRIMARY KEY (id);


--
-- Name: merchant_product merchant_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_product
    ADD CONSTRAINT merchant_product_pkey PRIMARY KEY (id);


--
-- Name: merchant_shop merchant_shop_owner_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_shop
    ADD CONSTRAINT merchant_shop_owner_id_key UNIQUE (owner_id);


--
-- Name: merchant_shop merchant_shop_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_shop
    ADD CONSTRAINT merchant_shop_pkey PRIMARY KEY (id);


--
-- Name: merchant_smartaddselection merchant_smartaddselecti_merchant_id_master_produ_dc1446a9_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_smartaddselection
    ADD CONSTRAINT merchant_smartaddselecti_merchant_id_master_produ_dc1446a9_uniq UNIQUE (merchant_id, master_product_id);


--
-- Name: merchant_smartaddselection merchant_smartaddselection_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_smartaddselection
    ADD CONSTRAINT merchant_smartaddselection_pkey PRIMARY KEY (id);


--
-- Name: merchant_subscriptionplan merchant_subscriptionplan_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_subscriptionplan
    ADD CONSTRAINT merchant_subscriptionplan_name_key UNIQUE (name);


--
-- Name: merchant_subscriptionplan merchant_subscriptionplan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_subscriptionplan
    ADD CONSTRAINT merchant_subscriptionplan_pkey PRIMARY KEY (id);


--
-- Name: api_address_user_id_19458536; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_address_user_id_19458536 ON public.api_address USING btree (user_id);


--
-- Name: api_customuser_contact_b9a2cd10_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_customuser_contact_b9a2cd10_like ON public.api_customuser USING btree (contact varchar_pattern_ops);


--
-- Name: api_customuser_email_18215455_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_customuser_email_18215455_like ON public.api_customuser USING btree (email varchar_pattern_ops);


--
-- Name: api_customuser_groups_customuser_id_9eb4b783; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_customuser_groups_customuser_id_9eb4b783 ON public.api_customuser_groups USING btree (customuser_id);


--
-- Name: api_customuser_groups_group_id_f049027c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_customuser_groups_group_id_f049027c ON public.api_customuser_groups USING btree (group_id);


--
-- Name: api_customuser_user_permissions_customuser_id_5365c9ba; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_customuser_user_permissions_customuser_id_5365c9ba ON public.api_customuser_user_permissions USING btree (customuser_id);


--
-- Name: api_customuser_user_permissions_permission_id_8735d73e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_customuser_user_permissions_permission_id_8735d73e ON public.api_customuser_user_permissions USING btree (permission_id);


--
-- Name: api_customuser_username_f5ae5d7f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_customuser_username_f5ae5d7f_like ON public.api_customuser USING btree (username varchar_pattern_ops);


--
-- Name: api_order_user_id_52781ff0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_order_user_id_52781ff0 ON public.api_order USING btree (user_id);


--
-- Name: api_orderitem_order_id_f9c0afc0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_orderitem_order_id_f9c0afc0 ON public.api_orderitem USING btree (order_id);


--
-- Name: api_payment_user_id_d7835ec0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_payment_user_id_d7835ec0 ON public.api_payment USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: merchant_mastercategory_name_54f96d8d_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_mastercategory_name_54f96d8d_like ON public.merchant_mastercategory USING btree (name varchar_pattern_ops);


--
-- Name: merchant_masterproduct_category_id_e00db2f2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_masterproduct_category_id_e00db2f2 ON public.merchant_masterproduct USING btree (category_id);


--
-- Name: merchant_merchant_email_f3751302_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_merchant_email_f3751302_like ON public.merchant_merchant USING btree (email varchar_pattern_ops);


--
-- Name: merchant_merchant_groups_group_id_fea34317; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_merchant_groups_group_id_fea34317 ON public.merchant_merchant_groups USING btree (group_id);


--
-- Name: merchant_merchant_groups_merchant_id_ec234588; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_merchant_groups_merchant_id_ec234588 ON public.merchant_merchant_groups USING btree (merchant_id);


--
-- Name: merchant_merchant_user_permissions_merchant_id_61d22d56; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_merchant_user_permissions_merchant_id_61d22d56 ON public.merchant_merchant_user_permissions USING btree (merchant_id);


--
-- Name: merchant_merchant_user_permissions_permission_id_b13b17f2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_merchant_user_permissions_permission_id_b13b17f2 ON public.merchant_merchant_user_permissions USING btree (permission_id);


--
-- Name: merchant_merchantsubscription_plan_id_d96fd9ce; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_merchantsubscription_plan_id_d96fd9ce ON public.merchant_merchantsubscription USING btree (plan_id);


--
-- Name: merchant_notification_product_id_7ca06fda; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_notification_product_id_7ca06fda ON public.merchant_notification USING btree (product_id);


--
-- Name: merchant_notification_recipient_id_c181dc1f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_notification_recipient_id_c181dc1f ON public.merchant_notification USING btree (recipient_id);


--
-- Name: merchant_pendingproduct_category_id_6f491a76; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_pendingproduct_category_id_6f491a76 ON public.merchant_pendingproduct USING btree (category_id);


--
-- Name: merchant_pendingproduct_merchant_id_35199ae7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_pendingproduct_merchant_id_35199ae7 ON public.merchant_pendingproduct USING btree (merchant_id);


--
-- Name: merchant_product_category_id_2486e169; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_product_category_id_2486e169 ON public.merchant_product USING btree (category_id);


--
-- Name: merchant_product_master_product_id_08c39ff5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_product_master_product_id_08c39ff5 ON public.merchant_product USING btree (master_product_id);


--
-- Name: merchant_product_merchant_id_736f146f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_product_merchant_id_736f146f ON public.merchant_product USING btree (merchant_id);


--
-- Name: merchant_smartaddselection_master_product_id_72ebc35f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_smartaddselection_master_product_id_72ebc35f ON public.merchant_smartaddselection USING btree (master_product_id);


--
-- Name: merchant_smartaddselection_merchant_id_f4c0aa3b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_smartaddselection_merchant_id_f4c0aa3b ON public.merchant_smartaddselection USING btree (merchant_id);


--
-- Name: merchant_subscriptionplan_name_d322d22b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX merchant_subscriptionplan_name_d322d22b_like ON public.merchant_subscriptionplan USING btree (name varchar_pattern_ops);


--
-- Name: api_address api_address_user_id_19458536_fk_api_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_address
    ADD CONSTRAINT api_address_user_id_19458536_fk_api_customuser_id FOREIGN KEY (user_id) REFERENCES public.api_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_customuser_groups api_customuser_group_customuser_id_9eb4b783_fk_api_custo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_customuser_groups
    ADD CONSTRAINT api_customuser_group_customuser_id_9eb4b783_fk_api_custo FOREIGN KEY (customuser_id) REFERENCES public.api_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_customuser_groups api_customuser_groups_group_id_f049027c_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_customuser_groups
    ADD CONSTRAINT api_customuser_groups_group_id_f049027c_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_customuser_user_permissions api_customuser_user__customuser_id_5365c9ba_fk_api_custo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_customuser_user_permissions
    ADD CONSTRAINT api_customuser_user__customuser_id_5365c9ba_fk_api_custo FOREIGN KEY (customuser_id) REFERENCES public.api_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_customuser_user_permissions api_customuser_user__permission_id_8735d73e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_customuser_user_permissions
    ADD CONSTRAINT api_customuser_user__permission_id_8735d73e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_order api_order_user_id_52781ff0_fk_api_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_order
    ADD CONSTRAINT api_order_user_id_52781ff0_fk_api_customuser_id FOREIGN KEY (user_id) REFERENCES public.api_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_orderitem api_orderitem_order_id_f9c0afc0_fk_api_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_orderitem
    ADD CONSTRAINT api_orderitem_order_id_f9c0afc0_fk_api_order_id FOREIGN KEY (order_id) REFERENCES public.api_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_payment api_payment_user_id_d7835ec0_fk_api_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_payment
    ADD CONSTRAINT api_payment_user_id_d7835ec0_fk_api_customuser_id FOREIGN KEY (user_id) REFERENCES public.api_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_usersettings api_usersettings_user_id_ab925a7b_fk_api_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_usersettings
    ADD CONSTRAINT api_usersettings_user_id_ab925a7b_fk_api_customuser_id FOREIGN KEY (user_id) REFERENCES public.api_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_merchant_merchant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_merchant_merchant_id FOREIGN KEY (user_id) REFERENCES public.merchant_merchant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_merchant_merchant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_merchant_merchant_id FOREIGN KEY (user_id) REFERENCES public.merchant_merchant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_masterproduct merchant_masterprodu_category_id_e00db2f2_fk_merchant_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_masterproduct
    ADD CONSTRAINT merchant_masterprodu_category_id_e00db2f2_fk_merchant_ FOREIGN KEY (category_id) REFERENCES public.merchant_mastercategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_merchant_groups merchant_merchant_gr_merchant_id_ec234588_fk_merchant_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchant_groups
    ADD CONSTRAINT merchant_merchant_gr_merchant_id_ec234588_fk_merchant_ FOREIGN KEY (merchant_id) REFERENCES public.merchant_merchant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_merchant_groups merchant_merchant_groups_group_id_fea34317_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchant_groups
    ADD CONSTRAINT merchant_merchant_groups_group_id_fea34317_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_merchant_user_permissions merchant_merchant_us_merchant_id_61d22d56_fk_merchant_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchant_user_permissions
    ADD CONSTRAINT merchant_merchant_us_merchant_id_61d22d56_fk_merchant_ FOREIGN KEY (merchant_id) REFERENCES public.merchant_merchant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_merchant_user_permissions merchant_merchant_us_permission_id_b13b17f2_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchant_user_permissions
    ADD CONSTRAINT merchant_merchant_us_permission_id_b13b17f2_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_merchantprofile merchant_merchantpro_merchant_id_58286904_fk_merchant_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchantprofile
    ADD CONSTRAINT merchant_merchantpro_merchant_id_58286904_fk_merchant_ FOREIGN KEY (merchant_id) REFERENCES public.merchant_merchant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_merchantsubscription merchant_merchantsub_merchant_id_950cb254_fk_merchant_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchantsubscription
    ADD CONSTRAINT merchant_merchantsub_merchant_id_950cb254_fk_merchant_ FOREIGN KEY (merchant_id) REFERENCES public.merchant_merchant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_merchantsubscription merchant_merchantsub_plan_id_d96fd9ce_fk_merchant_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_merchantsubscription
    ADD CONSTRAINT merchant_merchantsub_plan_id_d96fd9ce_fk_merchant_ FOREIGN KEY (plan_id) REFERENCES public.merchant_subscriptionplan(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_notification merchant_notificatio_product_id_7ca06fda_fk_merchant_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_notification
    ADD CONSTRAINT merchant_notificatio_product_id_7ca06fda_fk_merchant_ FOREIGN KEY (product_id) REFERENCES public.merchant_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_notification merchant_notificatio_recipient_id_c181dc1f_fk_merchant_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_notification
    ADD CONSTRAINT merchant_notificatio_recipient_id_c181dc1f_fk_merchant_ FOREIGN KEY (recipient_id) REFERENCES public.merchant_merchant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_pendingproduct merchant_pendingprod_category_id_6f491a76_fk_merchant_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_pendingproduct
    ADD CONSTRAINT merchant_pendingprod_category_id_6f491a76_fk_merchant_ FOREIGN KEY (category_id) REFERENCES public.merchant_mastercategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_pendingproduct merchant_pendingprod_merchant_id_35199ae7_fk_merchant_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_pendingproduct
    ADD CONSTRAINT merchant_pendingprod_merchant_id_35199ae7_fk_merchant_ FOREIGN KEY (merchant_id) REFERENCES public.merchant_merchant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_product merchant_product_category_id_2486e169_fk_merchant_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_product
    ADD CONSTRAINT merchant_product_category_id_2486e169_fk_merchant_ FOREIGN KEY (category_id) REFERENCES public.merchant_mastercategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_product merchant_product_master_product_id_08c39ff5_fk_merchant_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_product
    ADD CONSTRAINT merchant_product_master_product_id_08c39ff5_fk_merchant_ FOREIGN KEY (master_product_id) REFERENCES public.merchant_masterproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_product merchant_product_merchant_id_736f146f_fk_merchant_merchant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_product
    ADD CONSTRAINT merchant_product_merchant_id_736f146f_fk_merchant_merchant_id FOREIGN KEY (merchant_id) REFERENCES public.merchant_merchant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_shop merchant_shop_owner_id_230a9396_fk_merchant_merchant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_shop
    ADD CONSTRAINT merchant_shop_owner_id_230a9396_fk_merchant_merchant_id FOREIGN KEY (owner_id) REFERENCES public.merchant_merchant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_smartaddselection merchant_smartaddsel_master_product_id_72ebc35f_fk_merchant_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_smartaddselection
    ADD CONSTRAINT merchant_smartaddsel_master_product_id_72ebc35f_fk_merchant_ FOREIGN KEY (master_product_id) REFERENCES public.merchant_masterproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: merchant_smartaddselection merchant_smartaddsel_merchant_id_f4c0aa3b_fk_merchant_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_smartaddselection
    ADD CONSTRAINT merchant_smartaddsel_merchant_id_f4c0aa3b_fk_merchant_ FOREIGN KEY (merchant_id) REFERENCES public.merchant_merchant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

