.scroll-btn {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  width: 36px;
  height: 36px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.scroll-btn.left {
  left: -10px;
}

.scroll-btn.right {
  right: -10px;
}

.scroll-btn i {
  font-size: 18px;
}

/* Hide scrollbar for all browsers */
.category-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.category-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Hide buttons on small screens */
@media (max-width: 576px) {
  .scroll-btn {
    display: none;
   
  }
}

