.shops-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.shop-card-wrapper {
  flex: 1 1 100%;
  max-width: 100%;
}

@media (min-width: 600px) {
  .shop-card-wrapper {
    flex: 1 1 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media (min-width: 900px) {
  .shop-card-wrapper {
    flex: 1 1 calc(33.33% - 1rem);
    max-width: calc(33.33% - 1rem);
  }
}

